/* copyright mon magnifique CSS */
body {
  overflow-x: hidden;
  width: 100%;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0; }

h1 {
  font-size: 13px;
  color: #222222; }

h2 {
  font-size: 15px;
  font-weight: bold;
  color: #222222; }

h3 {
  font-weight: 30px;
  font-size: 27px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5px;
  color: #222222; }

h4 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-left: 6%;
  margin-bottom: 10px;
  color: #222222; }

h5 {
  font-weight: bold;
  font-size: 18px;
  width: 90%;
  margin-bottom: 0;
  color: #222222; }

h6 {
  font-size: 17px;
  margin-bottom: 1.5rem;
  margin-top: 1rem; }

p {
  font-size: 10px; }

.l-main-header .nav-container {
  width: 91%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 15px; }

.l-main-header img {
  height: 23px; }

.l-main-header .nav-menu {
  display: none; }

/* version tablette */
@media screen and (min-width: 720px) {
  .l-main-header .l-main-header-menu menu-icon {
    display: none; } }

.l-main-footer {
  background-color: #222222;
  color: #fff; }
  .l-main-footer .row {
    width: 93%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 9rem; }
    .l-main-footer .row p {
      color: #777777; }
    .l-main-footer .row .word-colorlib {
      color: #8490ff;
      font-size: 10px;
      font-weight: bold; }
  .l-main-footer .login-form {
    padding: 0.6rem;
    position: relative;
    border: 1px solid transparent;
    background-color: #fff;
    color: #777777;
    bottom: 12px;
    margin-top: 1.5rem;
    margin-bottom: 0; }
    .l-main-footer .login-form input {
      border: transparent;
      color: #62bdfc; }
    .l-main-footer .login-form i {
      position: absolute;
      color: #fff;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #8490ff;
      padding: 16px; }
  .l-main-footer .icons {
    font-size: 9px; }
    .l-main-footer .icons i {
      margin: 7px; }

.btn {
  border: 1px solid #8490ff;
  color: #fff;
  font-size: 12px;
  padding: 0.8rem;
  width: 170px;
  background-color: #8490ff; }

.about-me-wrapper {
  background-color: #f6f6fc; }

.info-isl-picture {
  width: 93%;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 20px; }
  .info-isl-picture h1 {
    letter-spacing: 2px; }
  .info-isl-picture .isl {
    display: block;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0; }
  .info-isl-picture .hero-picture {
    width: 30%;
    margin: 0 auto;
    padding-top: 50px; }
    .info-isl-picture .hero-picture img {
      width: 130px; }

.about-me-details-txt {
  width: 93%;
  margin: 0 auto; }
  .about-me-details-txt .man-picture {
    width: 45%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 1rem; }
    .about-me-details-txt .man-picture img {
      width: 200px; }

.about-services-txt {
  width: 93%;
  margin: 0 auto;
  padding-bottom: 5rem; }
  .about-services-txt p {
    width: 93%;
    margin: 0 auto;
    text-align: center; }

.services-content i {
  padding-left: 50%;
  padding-top: 3rem; }

.about-number-stats {
  background-color: #8490ff;
  padding-top: 4rem;
  padding-bottom: 5rem; }
  .about-number-stats .details {
    color: #fff;
    width: 30%;
    margin: 0 auto;
    text-align: center; }
  .about-number-stats p:first-child {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0; }
  .about-number-stats p {
    margin-top: 0; }

.about-projects {
  width: 93%;
  margin: 0 auto; }
  .about-projects .project-txt {
    text-align: center; }
    .about-projects .project-txt h3 {
      width: 250px;
      font-size: bold; }
    .about-projects .project-txt p {
      width: 70%;
      margin: 0 auto;
      padding-bottom: 5rem; }

.infos-pictures .design-txt img {
  width: 100%; }

.infos-pictures p {
  text-align: center; }

.about-posts {
  background-color: #f6f6fc;
  margin-top: 6rem; }
  .about-posts .latest-post-txt {
    width: 93%;
    margin: 0 auto; }
    .about-posts .latest-post-txt h3 {
      width: 100%;
      margin: 0 auto; }
    .about-posts .latest-post-txt p {
      text-align: center; }
  .about-posts .infos-about-post {
    width: 93%;
    margin: 0 auto; }
    .about-posts .infos-about-post img {
      width: 100%; }
    .about-posts .infos-about-post .post-picture-txt {
      margin-top: 4rem;
      margin-bottom: 4rem; }

.about-posts .info-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2px solid #777777;
  padding-bottom: 0.5rem;
  color: #777777; }
  .about-posts .info-comment img {
    width: 30px; }
  .about-posts .info-comment .mark {
    margin-right: 37%; }
  .about-posts .info-comment .icon-heart {
    padding-left: 7px;
    padding-right: 3px; }
  .about-posts .info-comment .icon-comment {
    padding-left: 9px; }
