/* copyright mon magnifique CSS */
body {
  overflow-x: hidden;
  width: 100%;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0; }

h1 {
  font-size: 13px;
  color: #222222; }

h2 {
  font-size: 25px;
  font-weight: bold;
  color: #222222; }

h3 {
  font-weight: 30px;
  font-size: 27px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5px;
  color: #222222; }

h4 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-left: 6%;
  margin-bottom: 10px;
  color: #222222; }

h5 {
  font-weight: bold;
  font-size: 23px;
  width: 88%;
  margin-bottom: 0;
  color: #222222; }

h6 {
  font-size: 17px;
  margin-bottom: 1.5rem;
  margin-top: 1rem; }

p {
  font-size: 10px;
  line-height: 20px; }

/*    version  tablette  */
@media screen and (min-width: 720px) {
  h1 {
    font-size: 9px; }
  h2 {
    padding-bottom: 1rem;
    font-size: 24px;
    font-weight: bold; }
  h3 {
    font-size: 22px;
    padding-top: 3rem; }
  h4 {
    font-size: 14px; }
  h5 {
    font-size: 12px;
    width: 100%; }
  h6 {
    font-size: 14px; }
  p {
    font-size: 10px; } }

@media screen and (min-width: 900px) {
  h5 {
    font-size: 14.5px; } }

.l-main-header .nav-container {
  width: 91%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 15px; }

.l-main-header img {
  height: 23px; }

.l-main-header .nav-menu {
  display: none; }

.l-main-header .mobile-menu {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); }
  .l-main-header .mobile-menu div {
    width: 75%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  .l-main-header .mobile-menu ul {
    padding-left: 5px;
    font-size: 13px;
    font-weight: 500;
    padding-top: 10px; }
  .l-main-header .mobile-menu li {
    list-style: none;
    margin: 18px; }
  .l-main-header .mobile-menu a {
    text-decoration: none;
    color: #f6f6fc; }

.nav li:nth-child(1) a {
  color: #8490ff; }

.about-nav li:nth-child(2) a {
  color: #8490ff; }

.about-me-container {
  background-color: #f6f6fc; }

.info-isl-picture {
  width: 93%;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 20px; }
  .info-isl-picture h1 {
    letter-spacing: 2px; }
  .info-isl-picture .isl {
    display: block;
    padding-top: 10px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0; }
  .info-isl-picture .hero-picture {
    width: 65%;
    margin: 0 auto;
    padding-top: 50px; }
    .info-isl-picture .hero-picture img {
      width: 100%;
      height: 270px; }

.hide-menu {
  display: none; }

.show-close {
  display: none; }

.l-main-header-menu_menu-icon {
  z-index: 2; }

/* version tablette */
@media screen and (min-width: 720px) {
  .info-isl-picture {
    width: 88%;
    display: flex;
    margin: 0 auto;
    padding-bottom: 0;
    margin-bottom: 0; }
    .info-isl-picture .info-about-isl {
      padding-top: 5rem; }
    .info-isl-picture .isl {
      font-size: 40px; }
    .info-isl-picture .hero-picture {
      padding-top: 0;
      margin-left: 2rem; }
      .info-isl-picture .hero-picture img {
        width: 100%;
        height: 380px; }
  .nav li:nth-child(1) a {
    color: #8490ff; }
  .l-main-header-menu_menu-icon {
    display: none; }
  .l-main-header img {
    height: 22px;
    padding-top: 1.5px; }
  .l-main-header .nav-container {
    padding-top: 0;
    padding-bottom: 0; }
  .nav-container .nav-menu {
    display: block; }
    .nav-container .nav-menu ul {
      display: flex; }
    .nav-container .nav-menu li {
      list-style: none;
      margin: 0.5rem; }
    .nav-container .nav-menu a {
      text-decoration: none;
      color: #222222;
      font-weight: bold;
      font-size: 10px; }
  .nav-container .mobile-menu {
    position: relative;
    background-color: transparent;
    margin-top: 0; }
    .nav-container .mobile-menu a {
      text-decoration: none;
      color: #222222;
      font-size: 11px; }
  .nav-container .about-me-container {
    height: 410px; }
  /* version PC */ }

@media screen and (min-width: 720px) and (min-width: 900px) {
  .l-main-header .nav-container {
    max-width: 950px; }
    .l-main-header .nav-container li {
      margin: 0.8rem; }
  .l-main-header .about-me-container {
    height: 480px; }
  .l-main-header .info-isl-picture {
    display: flex;
    max-width: 925px;
    margin: 0 auto; }
    .l-main-header .info-isl-picture img {
      height: 450px;
      width: 420px; } }

.l-main-footer {
  background-color: #222222;
  color: #fff; }
  .l-main-footer .row {
    width: 93%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 9rem; }
    .l-main-footer .row p {
      color: #777777; }
    .l-main-footer .row .word-colorlib {
      color: #8490ff;
      font-size: 10px;
      font-weight: bold; }
  .l-main-footer .login-form {
    padding: 0.5rem;
    position: relative;
    border: 1px solid transparent;
    background-color: #fff;
    color: #777777;
    bottom: 12px;
    margin-top: 1.5rem;
    margin-bottom: 0; }
    .l-main-footer .login-form input {
      border: transparent;
      color: #62bdfc; }
    .l-main-footer .login-form i {
      position: absolute;
      color: #fff;
      right: -1px;
      top: -1px;
      bottom: -1px;
      background-color: #8490ff;
      padding: 16px; }
  .l-main-footer .icons {
    font-size: 9px;
    margin-bottom: 0;
    padding-bottom: 0; }
    .l-main-footer .icons i {
      margin: 7px; }

/*    version  tablette  */
@media screen and (min-width: 720px) {
  .l-main-footer .row {
    display: flex;
    width: 95%;
    margin: 0 auto;
    padding: 13px;
    padding-top: 2.2rem;
    padding-bottom: 2rem; }
    .l-main-footer .row .word-colorlib {
      font-size: 8px; }
  .l-main-footer div {
    margin: 3.5%; }
  .l-main-footer .newsletter-txt {
    width: 70%;
    margin-left: 0;
    padding-left: 0; }
  .l-main-footer .follow-media-icons {
    margin-left: 0; }
    .l-main-footer .follow-media-icons p {
      width: 100px; }
    .l-main-footer .follow-media-icons i {
      font-size: 10px;
      margin: 4.3px; } }

/* version PC */
@media screen and (min-width: 900px) {
  .l-main-footer .row {
    max-width: 970px;
    padding-left: 0; } }

.btn {
  border: 1px solid #8490ff;
  color: #fff;
  font-size: 12px;
  padding: 0.8rem;
  width: 50%;
  background-color: #8490ff; }

@media screen and (min-width: 720px) {
  .btn {
    font-size: 9px;
    width: 120px;
    padding: 0.6rem; } }

@media screen and (min-width: 900px) {
  .btn {
    font-size: 10px;
    width: 130px;
    padding: 0.7rem; } }

.about-me-details-txt {
  width: 93%;
  margin: 0 auto; }
  .about-me-details-txt .man-picture {
    width: 85%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 1rem; }
    .about-me-details-txt .man-picture img {
      width: 100%;
      height: 260px; }

.about-services-txt {
  width: 93%;
  margin: 0 auto;
  padding-bottom: 5rem; }
  .about-services-txt p {
    width: 93%;
    margin: 0 auto;
    text-align: center; }

.services-content i {
  padding-left: 50%;
  padding-top: 3rem;
  color: #222222; }

.about-number-stats {
  background-color: #62bdfc;
  padding-top: 4rem;
  padding-bottom: 5rem; }
  .about-number-stats .details {
    color: #fff;
    width: 30%;
    margin: 0 auto;
    text-align: center; }
  .about-number-stats p:first-child {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0; }
  .about-number-stats p {
    margin-top: 0; }

.about-projects {
  width: 93%;
  margin: 0 auto; }
  .about-projects .project-txt {
    text-align: center; }
    .about-projects .project-txt h3 {
      width: 250px;
      font-size: bold; }
    .about-projects .project-txt p {
      width: 70%;
      margin: 0 auto;
      padding-bottom: 5rem; }

.infos-pictures .design-txt img {
  width: 100%; }

.infos-pictures p {
  text-align: center; }

.about-posts {
  background-color: #f6f6fc;
  margin-top: 6rem; }
  .about-posts .latest-post-txt {
    width: 93%;
    margin: 0 auto; }
    .about-posts .latest-post-txt h3 {
      width: 100%;
      margin: 0 auto; }
    .about-posts .latest-post-txt p {
      text-align: center; }
  .about-posts .infos-about-post {
    width: 93%;
    margin: 0 auto; }
    .about-posts .infos-about-post img {
      width: 100%; }
    .about-posts .infos-about-post .post-picture-txt {
      margin-top: 4rem;
      margin-bottom: 4rem; }

.about-posts {
  padding-bottom: 2rem; }
  .about-posts .info-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.2px solid #777777;
    padding-bottom: 0.5rem;
    color: #777777; }
    .about-posts .info-comment img {
      width: 30px; }
    .about-posts .info-comment .icon-heart {
      padding-left: 4px;
      padding-right: 3px; }
    .about-posts .info-comment .icon-comment {
      padding-left: 9px; }
    .about-posts .info-comment .mark {
      display: flex;
      flex: 1;
      margin-left: 10px; }

.several-pictures {
  background-color: #62bdfc;
  padding: 3rem;
  text-align: center; }
  .several-pictures .image {
    display: none; }

/* version tablette */
@media screen and (min-width: 720px) {
  .about-me-details-txt {
    display: flex;
    width: 82%;
    margin: 0 auto; }
    .about-me-details-txt .man-picture img {
      width: 350%;
      height: 325px; }
    .about-me-details-txt .info-personal-txt {
      padding-left: 45%;
      padding-top: 5.5rem; }
      .about-me-details-txt .info-personal-txt p {
        padding-bottom: 0.5rem; }
  .my-offered-services-txt p {
    width: 50%;
    margin: 0 auto; }
  .services-content {
    width: 87%;
    margin: 0 auto;
    display: flex; }
    .services-content i {
      font-size: 19px; }
    .services-content div {
      margin: 2px; }
  .about-number-stats {
    padding: 2.5rem; }
  .contor-txt {
    display: flex;
    width: 80%;
    margin: 0 auto; }
    .contor-txt p:first-child {
      font-size: 22px; }
  .about-projects .project-txt h3 {
    width: 330px; }
  .infos-pictures {
    display: flex;
    width: 97%;
    margin: 0 auto; }
    .infos-pictures .design-txt {
      margin: 7px; }
  .latest-post-txt p {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 1.5rem; }
  .infos-about-post {
    display: flex;
    width: 89%;
    margin: 0 auto;
    padding-bottom: 4rem; }
    .infos-about-post .post-picture-txt {
      margin: 10px; }
      .infos-about-post .post-picture-txt p {
        margin-left: 0; }
    .infos-about-post img {
      height: 190px; }
  .info-comment img {
    width: 20px;
    height: 20px; }
  .several-pictures .content-pictures {
    display: flex;
    justify-content: space-around; }
    .several-pictures .content-pictures .image {
      display: block; }
    .several-pictures .content-pictures img {
      width: 90px; } }

/* version PC */
@media screen and (min-width: 900px) {
  .about-me-details-txt {
    max-width: 950px; }
    .about-me-details-txt .man-picture {
      margin-left: 0;
      margin-right: 0; }
      .about-me-details-txt .man-picture img {
        width: 420px; }
    .about-me-details-txt .info-personal-txt {
      padding-top: 6rem;
      padding-left: 7.8rem; }
      .about-me-details-txt .info-personal-txt p {
        width: 385px;
        padding-bottom: 1rem; }
  .about-services-txt .my-offered-services-txt {
    max-width: 900px;
    margin: 0 auto; }
  .about-services-txt .services-content {
    max-width: 970px; }
    .about-services-txt .services-content p {
      width: 260px; }
    .about-services-txt .services-content div {
      margin: 1.5rem; }
  .about-number-stats .contor-txt {
    max-width: 920px; }
  .about-projects {
    max-width: 970px; }
  .about-posts div {
    max-width: 940px; }
  .several-pictures {
    padding: 3rem 0; }
    .several-pictures .content-pictures {
      max-width: 980px;
      justify-content: space-around;
      margin: 0 auto; }
      .several-pictures .content-pictures :first-child, .several-pictures .content-pictures :nth-child(2), .several-pictures .content-pictures :nth-child(3) {
        order: 1; } }

/*   header   */
.about-body .about-me {
  background-color: #62bdfc;
  padding: 4rem;
  color: #fff; }
  .about-body .about-me h1 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0; }
  .about-body .about-me p {
    font-size: 12px; }
  .about-body .about-me i {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 9.5px; }
  .about-body .about-me .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem; }

/*     main   */
.about-body .info-personal-txt {
  margin-bottom: 2.8rem; }
  .about-body .info-personal-txt h2 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 12px; }
  .about-body .info-personal-txt h3 {
    text-align: start;
    margin-left: 0;
    font-size: 18px;
    padding-top: 1.8rem; }

.about-body .about-experiences {
  margin-bottom: 7rem; }
  .about-body .about-experiences h3 {
    padding-top: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: start;
    margin-left: 0;
    font-size: 20px; }
  .about-body .about-experiences p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 0.8rem; }
  .about-body .about-experiences .txt-percent {
    display: flex;
    justify-content: flex-end;
    color: #777777;
    font-size: 10px; }

.about-body .line-percent {
  width: 100%;
  height: .5rem;
  background-color: #777777;
  border-radius: 5px; }
  .about-body .line-percent .progress-pourcentage {
    width: 85%;
    height: .5rem;
    background-color: #8490ff;
    border-radius: 5px; }
  .about-body .line-percent .progress-pourcentage-2 {
    width: 90%;
    height: .5rem;
    background-color: #8490ff;
    border-radius: 5px; }
  .about-body .line-percent .progress-pourcentage-3 {
    width: 70%;
    height: .5rem;
    background-color: #8490ff;
    border-radius: 5px; }
  .about-body .line-percent .progress-pourcentage-4 {
    width: 95%;
    height: .5rem;
    background-color: #8490ff;
    border-radius: 5px; }
  .about-body .line-percent .progress-pourcentage-5 {
    width: 85%;
    height: .5rem;
    background-color: #8490ff;
    border-radius: 5px; }

.about-body .about-clients-comments {
  background-color: #f6f6fc; }

.about-body .clients-feedback-txt h4 {
  width: 95%;
  margin: 0 auto;
  padding-left: 0;
  font-size: 35px; }

.about-body .clients-feedback-txt p {
  text-align: center;
  padding-bottom: 4rem; }

.about-body .comment-picture {
  background-color: #fff;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 0.8rem; }
  .about-body .comment-picture h5 {
    text-align: start;
    padding-left: 0; }
  .about-body .comment-picture img {
    width: 20px;
    height: 20px;
    padding-top: 0.5rem;
    padding-left: 9%; }
  .about-body .comment-picture p {
    width: 90%; }
  .about-body .comment-picture .comment {
    padding-left: 20px; }

.about-body .comment-picture:nth-child(2) {
  display: none; }

/* version tablette */
@media screen and (min-width: 720px) {
  /*    header   */
  .about-body .about-me {
    padding: 1rem; }
  /*    main   */
  .about-body h2 {
    padding-bottom: 4px;
    font-size: 10px; }
  .about-body h3 {
    margin: 0;
    width: 100%;
    font-size: 25px; }
  .about-body h4 {
    margin: 0; }
  .about-body .about-me-details-txt {
    display: block;
    width: 88.5%;
    margin: 0 auto; }
  .about-body .details-content {
    display: flex; }
  .about-body .man-picture img {
    width: 300%; }
  .about-body .info-personal-txt {
    padding-left: 44%;
    margin: 0; }
    .about-body .info-personal-txt p {
      padding-bottom: 14px; }
  .about-body .expers-container {
    display: flex;
    justify-content: space-between; }
    .about-body .expers-container .container {
      width: 48%; }
  .about-body .clients-feedback-txt {
    padding-top: 4rem; }
    .about-body .clients-feedback-txt h4 {
      width: 100%;
      font-size: 25px; }
  .about-body .comment-picture {
    width: 50%; }
    .about-body .comment-picture .comment {
      margin: 0; }
  .about-body .comment-picture:nth-child(2) {
    display: block;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 0.8rem; }
    .about-body .comment-picture:nth-child(2) h5 {
      text-align: start;
      padding-left: 0; }
    .about-body .comment-picture:nth-child(2) img {
      width: 20px;
      height: 20px;
      padding-top: 0.5rem;
      padding-left: 9%; }
    .about-body .comment-picture:nth-child(2) .comment {
      padding-left: 20px; }
  .about-body .infos-comments {
    display: flex;
    padding-bottom: 3.7rem;
    width: 92%;
    margin: 0 auto; }
    .about-body .infos-comments div {
      margin: 10px; } }

/* version PC */
@media screen and (min-width: 900px) {
  /*    main   */
  .about-body .about-me-details-txt {
    max-width: 910px; }
    .about-body .about-me-details-txt h3 {
      font-size: 30px; }
    .about-body .about-me-details-txt img {
      width: 430px; }
  .about-body .info-personal-txt {
    padding-left: 9.5rem;
    width: 400px; }
    .about-body .info-personal-txt p {
      width: 350px; }
  .about-body .infos-comments {
    max-width: 945px; } }
