.l-main-header{
    .nav-container{
        width: 91%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 17px;
        padding-bottom: 15px;
    }
    img{
        height: 23px;
    }
    .nav-menu{
        display: none;
    }
}

/* version tablette */
@media screen and (min-width: 720px) {
    .l-main-header{
        .l-main-header-menu menu-icon{
            display: none;
        }
    }
}