.l-main-header{
    .nav-container{
        width: 91%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 17px;
        padding-bottom: 15px;
    }
    img{
        height: 23px;
    }
    .nav-menu{
        display: none;
    }
    .mobile-menu{
        display: block;
        position: fixed;
        top:0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $menu-1;
        div {
            width: 75%;
            position: fixed;
            background-color: $menu-2;
            top:0;
            bottom: 0;
            right: 0;
            left: 0;
            
        }
        
        ul{
          padding-left: 5px;
          font-size: 13px;
          font-weight: 500;
          padding-top: 10px;
          
        }
        li {
          list-style: none;
          margin: 18px;
        }
        a{
          text-decoration: none;
          color: $main;
        }
    }
}
.about-me-container{
    background-color: $main;
}
.info-isl-picture{
    width: 93%;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 20px;
    h1{
        letter-spacing: 2px;
    }
    .isl{
        display: block;
        padding-top: 10px;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 0;
    }
    .hero-picture{
        width: 65%;
        margin: 0 auto;
        padding-top: 50px;
        img{
            width: 315px;
            height: 370px;
        }
    }
}

.hide-menu {
    display: none !important;
}

.show-close {
    display: none !important;
}

.l-main-header-menu_menu-icon{
    z-index: 2;
}

/* version tablette */

@media screen and (min-width: 720px) {
    .l-main-header-menu_menu-icon{
        display: none;
    }
    .l-main-header{
        img{
            height: 22px;
            padding-top: 1.5px;
        }
        .nav-container{
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .nav-container{
        .nav-menu{
            display: block;
            ul{
                display: flex;
            }
            li{
                list-style: none;
                margin: 0.5rem;
            }
            a{
                text-decoration: none;
                color: $title;
                font-weight: bold;
                font-size: 10px;
            }
        }
        .mobile-menu{
            position: relative;
            background-color: transparent;
            margin-top: 0;
            a{
                text-decoration: none;
                color: $title;
                font-size: 11px;
            }
    }
    .about-me-container{
        height: 410px;
    }
    .info-isl-picture{
        width: 88%;
        margin: 0 auto;
        display: flex;
        padding-bottom: 0;
        margin-bottom: 0;
        .info-about-isl{
            padding-top: 5rem;
        }
        .isl{
            font-size: 40px;
        }
        .hero-picture{
            padding-top: 0;
            margin-left: 2rem;
            img{
                width: 145%;
                height: 380px;
            }
        }
    }
    
}

/* version PC */
@media screen and (min-width: 900px) {
    .l-main-header{
        .nav-container{
            max-width: 950px;
            li{
                margin: 0.8rem;
            }
        }
        .about-me-container{
            height: 480px;
        }
        .info-isl-picture{
            display: flex;
            max-width: 925px;
            margin: 0 auto;
            img{
                height: 450px;
                width: 420px;
            }
        }
    }
}
}