.btn{
    border: 1px solid $Btn1;
    color: $Couleur3;
    font-size: 12px;
    padding:0.8rem;
    width: 170px;
    background-color: $Btn1;
}
@media screen and (min-width: 720px) {
   .btn{
        font-size: 5px;
        width: 80px;
        padding: 0.3rem;
    }
}