.btn{
    border: 1px solid $Btn1;
    color: $Couleur3;
    font-size: 12px;
    padding:0.8rem;
    width: 170px;
    background-color: $Btn1;
}
@media screen and (min-width: 720px) {
   .btn{
        font-size: 9px;
        width: 120px;
        padding: 0.6rem;
    }
}

@media screen and (min-width: 900px) {
    .btn{
         font-size: 10px;
         width: 130px;
         padding: 0.7rem;
     }
 }