body {
  overflow-x: hidden;
  width: 100%;
  background-color: $Couleur3;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
  font-size: 14px;
  color: $title;
}
h2{
  font-size: 20px;
  font-weight: bold;
  color: $title;
}
h3{
  font-weight: 30px;
  font-size: 32px;
  margin-bottom: 0;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 0;
  color: $title;
}
h4{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-left: 6%;
  margin-bottom: 12px;
  margin-top: 15px;
  color: $title;
}
h5{
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  margin-bottom: 0;
  color: $title;
}
h6{
  font-size: 17px;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
p{
  font-size: 13px;
  line-height: 20px;
}

/*    version  tablette  */

@media screen and (min-width: 720px) {
  h1{
    font-size: 9px;
  }
  h2{
    margin-bottom: 8px;
    margin-top: 6px;
    font-size: 22px;
    font-weight: bold;
  }
  h3{
    font-size: 25px;
    padding-top: 3rem;
  }
  h4{
    font-size: 14px;
    margin-bottom: 0;
  }
  h5{
    font-size: 12px;
    width: 100%;
  }
  h6{
    font-size: 14px;
  }
  p{
    font-size: 10px;
  }
}
@media screen and (min-width: 900px) {
  h2{
    font-size: 28px;
  }
  h3{
    font-size: 30px;
  }
  h4{
    padding-bottom: 0;
  }
  h5{
    font-size: 14.5px;
  }

}
