.about-me-details-txt{
    width: 93%;
    margin: 0 auto;
    .man-picture{
        width: 85%;
        margin: 0 auto;
        padding-top: 5rem;
        padding-bottom: 1rem;
        img{
            width: 100%;
            height: 260px;
        }
    }
}
.about-services-txt{
    width: 93%;
    margin: 0 auto;
    padding-bottom: 5rem;
    p{
        width: 93%;
        margin: 0 auto;
        text-align: center;
    }
}
.services-content{
    i{
        padding-left: 50%;
        padding-top: 3rem;
        color:$title;
    }
}
.about-number-stats{
    background-color: $bannerBg2;
    padding-top: 4rem;
    padding-bottom: 5rem;
    .details{
        color: $Couleur3;
        width: 30%;
        margin: 0 auto;
        text-align: center;
    }
    p:first-child{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 0;
    }
    p{
        margin-top: 0;
    }
}
.about-projects{
    width: 93%;
    margin: 0 auto;
    .project-txt{
        text-align: center;
        h3{
            width: 250px;
            font-size: bold;
        }
        p{
            width: 70%;
            margin: 0 auto;
            padding-bottom: 5rem;
        }
    }
}
.infos-pictures{
    .design-txt{
        img{
            width: 100%;
        }
    }
    p{
        text-align: center;
    }
}
.about-posts{
    background-color: $main;
    margin-top: 6rem;
    .latest-post-txt{
        width: 93%;
        margin: 0 auto;
        h3{
            width: 100%;
            margin: 0 auto;
        } 
        p{
            text-align: center;
        }   
    }
    .infos-about-post{
        width: 93%;
        margin: 0 auto;
        img{
            width: 100%;
        }
        .post-picture-txt{
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
    }
}
.about-posts{
    padding-bottom: 2rem;
    .info-comment{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.2px solid $txt;
        padding-bottom: 0.5rem;
        color: $txt;
        img{
            width: 30px;
        }
        .icon-heart{
            padding-left: 4px;
            padding-right: 3px;
        }
        .icon-comment{
            padding-left: 9px;
        }
        .mark{
            display: flex;
            flex: 1;
            margin-left: 10px;
        }
        
    }
}
.several-pictures{
    background-color: $bannerBg2;
    padding: 3rem;
    text-align: center;
    .image{
        display: none;
    }
}

/* version tablette */

@media screen and (min-width: 720px) {
    .about-me-details-txt{
        display: flex;
        width: 82%;
        margin: 0 auto;
        .man-picture{
            img{
                width: 350%;
                height: 325px;
            }
        }
        .info-personal-txt{
            padding-left:45%;
            padding-top: 5.5rem;
            p{
                padding-bottom: 0.5rem;
            }
        }
    }
    .my-offered-services-txt{
        p{
            width: 50%;
            margin: 0 auto;
        }
    }
    .services-content{
        width: 87%;
        margin: 0 auto;
        display: flex;
        i{
            font-size: 19px;
        }
        div{
            margin: 2px;
        }

    }
    .about-number-stats{
        padding: 2.5rem;
    }
    .contor-txt{
        display: flex;
        width: 80%;
        margin: 0 auto;
        p:first-child{
            font-size: 22px;
        }
    }
    .about-projects{
        .project-txt{
            h3{
                width: 330px;
            }
        }
    }
    .infos-pictures{
        display: flex;
        width: 97%;
        margin: 0 auto;
        .design-txt{
            margin: 7px;
        }
    }
    .latest-post-txt{
        p{
            width: 60%;
            margin: 0 auto;
            padding-bottom: 1.5rem;
        }
    }
    .infos-about-post{
        display: flex;
        width: 89%;
        margin: 0 auto;
        padding-bottom: 4rem;
        .post-picture-txt{
            margin: 10px;
            p{
                margin-left: 0;
            }
        }
        img{
            height: 190px;
        }
    }
    .info-comment{
        img{
            width: 20px;
            height: 20px;
        }
        
    }
    .several-pictures{
        .content-pictures{
            display: flex;
            justify-content: space-around;
            .image{
                display: block;
            }
            img{
                width: 90px;
            }
        }
    }
}

/* version PC */

@media screen and (min-width: 900px) {
    .about-me-details-txt{
        max-width: 950px;
        .man-picture{
            margin-left: 0;
            margin-right: 0;
            img{
                width: 420px;
            }
        }
        .info-personal-txt{
            padding-top: 6rem;
            padding-left: 7.8rem;
            p{
                width: 385px;
                padding-bottom: 1rem;
            }
        }
    }
    .about-services-txt{
        .my-offered-services-txt{
            max-width: 900px;
            margin: 0 auto;
        }
        .services-content{
            max-width: 970px;
            p{
                width: 260px;
            }
            div{
                margin: 1.5rem;
            }
        }
    }
    .about-number-stats{
        .contor-txt{
            max-width: 920px;
        }
    }
    .about-projects{
        max-width: 970px;
    }
    .about-posts{
        div{
            max-width: 940px;
        }
    }
    .several-pictures{
        padding: 3rem 0;
        
        .content-pictures{
            max-width: 980px;
            justify-content: space-around;
            margin: 0 auto;

            :first-child, :nth-child(2), :nth-child(3) {
                order: 1;
            }
           
        }
    }
}